<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.StudentDao">
    <insert id="saveStudent" parameterType="Model.StudentInfo" useGeneratedKeys="true" keyProperty="id">
        insert INTO studentinfo (name,loginName,password,birthday,sex,province,classId,major,nation) VALUES
        (#{name},#{loginName},#{password},#{birthDate},#{sex},#{province},#{classId},#{major},#{nation});
    </insert>
    <select id="getStudentByUsername" parameterType="java.lang.String" resultType="Model.StudentInfo">
        select * FROM studentinfo
        where loginName=#{username};
    </select>
</mapper>