<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.StudentDao">
    <insert id="saveStudent" parameterType="Model.StudentInfo" useGeneratedKeys="true" keyProperty="id">
        insert INTO studentinfo (name,loginName,password,birthday,sex,province,classId,major,nation) VALUES
        (#{name},#{loginName},#{password},#{birthDate},#{sex},#{province},#{classId},#{major},#{nation});
    </insert>
    <select id="getStudentByUsername" parameterType="java.lang.String" resultType="Model.StudentInfo">
        select * FROM studentinfo
        where loginName=#{username};
    </select>
    <select id="getClazz" resultType="java.lang.String">
        select distinct classId from studentinfo;
    </select>
    <select id="getAllAvg" resultType="java.util.HashMap">
        select studentinfo.name,avg(score_number) from studentinfo inner join student_score on studentinfo.name=student_score.name where classId=#{classId} group by studentinfo.name;
    </select>
    <select id="getProvinces" resultType="java.util.HashMap">
        select province,count(*) as total from studentinfo where classId=#{classId} group by province;
    </select>
    <select id="getCount" resultType="int">
        SELECT count(*) from studentinfo;
    </select>
    <select id="getAge" resultType="java.util.HashMap">
        select name,(CurDate()-birthday)/10000 as '年龄'
        from studentinfo
        where classId=#{clazz};
    </select>
</mapper>